.song-container {
    // margin-left: 10rem;
    min-height: 60vh;
    // background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    img {
        width: 20%;
        margin-top: 1rem;
        border-radius: 50%;
    }

    h2 {
        margin: 1.5rem 1rem 0.5rem 1rem;
    }
}

@media screen and (max-width: 768px) {
    .song-container {
        img {
            width: 60%;
        }
    }
}
